{% extends "base.html" %}

{% load static %}

{% block page_content %}
<style>
    /* Popup container - can be anything you want */
    .popup {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* The actual popup */
    .popup .popuptext {
      visibility: hidden;
      width: 160px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -80px;
    }
    
    /* Popup arrow */
    .popup .popuptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
    
    /* Toggle this class - hide and show the popup */
    .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }
    
    /* Add animation (fade in the popup) */
    @-webkit-keyframes fadeIn {
      from {opacity: 0;} 
      to {opacity: 1;}
    }
    
    @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity:1 ;}
    }
    </style>


<h1>{{ book.title }}</h1>

<div class="row">
    <div class="col-md-8">
        <img src="{{ book.image.url }}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>
            <div class="popup" onmouseover="getGithubInfo()">
                <a href="#" >{{ book.author }} </a><span class="popuptext" id="myPopup">Loading..</span>
                 </div>
            </h5>
        {{ book.created_on.date }} |&nbsp;

        <h5>About the book:</h5>
        <p>{{ book.description }}</p>
        <br>
        <h5>Categories:</h5>
        {% for category in book.categories.all %}

        <a href="{% url 'book_category' category.name %}">

            {{ category.name }}

        </a>&nbsp;

        {% endfor %}
        <br>
        {% if user.is_authenticated %}
        <h5>Donwload Link:</h5>
        <p><a href="{{ book.url.url }}">Download</a></p>
        {% else %}
        <p>You must <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a> to Download the Book</p>
        {% endif %}
    </div>
    <script>
        function stripHtml(html)
        {
           let tmp = document.createElement("DIV");
           tmp.innerHTML = html;
           return tmp.textContent || tmp.innerText || "";
        }
        function getGithubInfo(){    
        var val = $(this).html();
        
        
             $.ajax({
                 'type': 'GET',
                 'url': '{% url "github" book.id %}',
                 'dataType': 'html',
                 'success': function (data) {
                        console.log(data)
                   document.getElementById("myPopup").innerHTML = stripHtml(data); 
                   showPopup()
                 }
        });
        }
        
        function showPopup(){
            var popup = document.getElementById("myPopup")
            popup.classList.toggle("show");
        }
        </script>

</div>
<h3>Leave a comment:</h3>

<form action="/{{ book.pk }}/" method="post">

    {% csrf_token %}

    <div class="form-group">

        {{ form.author }}

    </div>

    <div class="form-group">

        {{ form.body }}

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<h3>Comments:</h3>

{% for comment in comments %}

<p>

    On {{comment.created_on.date }}&nbsp;

    <b>{{ comment.author }}</b> wrote:

</p>

<p>{{ comment.body }}</p>

<hr>

{% endfor %}

{% endblock %}
