{% extends "base.html" %}

{% load static %}

{% block page_content %}
<h1>{{ book.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{{ book.image.url }}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>{{ book.author }} </h5>
        <h5>About the book:</h5>
        <p>{{ book.description }}</p>
        <br>
        <h5>Category:</h5>
        <p>{{ book.category.name }}</p>
        <br>
        {% if user.is_authenticated %}
        <h5>Donwload Link:</h5>
        <p>{{ book.url }}</p>
        {% else %}
        <p>You must Login or Register to Download the Book</p>
        {% endif %}
    </div>
   

</div>
<h3>Leave a comment:</h3>

<form action="/{{ book.pk }}/" method="post">

    {% csrf_token %}

    <div class="form-group">

        {{ form.author }}

    </div>

    <div class="form-group">

        {{ form.body }}

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<h3>Comments:</h3>

{% for comment in comments %}

<p>

    On {{comment.created_on.date }}&nbsp;

    <b>{{ comment.author }}</b> wrote:

</p>

<p>{{ comment.body }}</p>

<hr>

{% endfor %}

{% endblock %}
